:root {
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #004565;
  --secondary-color: #00c9ec;
}

body {
  background: var(--primary-color);
  font-family: var(--default-font-family);
}

.hero-container {
  background: url(/src/hero.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding-top: 140px;
  height: 100vh;
}
.hero-container h2 {
  font-size: 20px;
  letter-spacing: 1px;
}
.hero-container h1 {
  font-size: 70px;
  color: var(--secondary-color);
}
@keyframes morph {
  0%,
  100% {
    border-radius: 42% 56% 72% 28%/42% 42% 56% 48%;
  }
  40% {
    border-radius: 72% 28% 48% 48%/ 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}
.blob {
  overflow: hidden;
  width: 28rem;
  height: 28rem;
  border-radius: 42% 56% 72% 28%/42%42%56%48%;
  background: url(/src/portfolio-photo.PNG);
  background-size: cover;
  background-position: center;
  animation: morph 5.75s linear infinite;
}

.hero-text {
  font-weight: 200;
  font-style: normal;
  padding-left: 50px;
  margin-top: 98px;
  text-align: start;
  font-size: 17px;
  line-height: 36px;
  letter-spacing: 1px;
}
.intro-text {
  margin-top: 80px;
  margin-bottom: 50px;
}

.btn-primary {
  background-color: var(--secondary-color);
  border: none;
  text-transform: uppercase;
}
.heading-text {
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-left: 30px;
  margin-top: 40px;
  text-decoration: underline;
}

strong {
  color: var(--secondary-color);
}
.carousel {
  margin-top: 40px;
}

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: var(--secondary-color);
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.contact-me-wrap {
  padding-top: 10px;
}
.contact-me h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-transform: none;
  text-align: left;
  color: #ffff;
}
.contact-me-paragraph {
  color: #fff;
}
h4 {
  color: var(--secondary-color);
}

.contacts i {
  font-size: 25px;
  background-color: var(--secondary-color);
  padding: 10px;
  border-color: var(--secondary-color);
  border-radius: 100%;
}
.contact-me .text-section {
  padding: 100px 10px 10px 270px;
}
form {
  padding: 100px 80px 32px 0;
  max-width: 520px;
}

.form-control::placeholder {
  color: rgba(193, 196, 199, 1);
  opacity: 0.5;
}

.contact-form input,
.contact-form textarea {
  background-color: rgba(35, 42, 54, 1);
  border: 1px solid rgba(35, 42, 54, 1);
  color: rgba(193, 196, 199, 1);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(35, 42, 54, 1);
  border: 1px solid rgba(35, 42, 54, 1);
  box-shadow: 0 4px 4px 4px rgba(41, 46, 61, 0.5);
  color: rgba(193, 196, 199, 1);
}
#input-name,
#input-email {
  padding: 20px 24px;
}
#input-subject {
  width: 100%;
  padding: 24px 20px 60px 20px;
  outline: none;
}
.btn-branding {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 8px;
  border: none;
  color: #ffff;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-branding:hover {
  background-color: #ffff;
  color: var(--secondary-color);
}

@media (max-width: 992px) {
  .carousel {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .carousel {
    margin-top: 700px;
  }
  .card .img-wrapper {
    height: 17em;
  }
}
